<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>
  <body>
    {{#if logged}}
      <form action="/comment/new" method="post">
        <div>
          <label for="comment">Create a new comment</label>
          <textarea name="comment" id="comment"></textarea>
        </div>
        <button type="submit">SEND</button>
      </form>
    {{/if}}
    <table width="100%" border="1">
      <thead>
        <th>Name</th>
        <th>Post</th>
      </thead>
      <tbody id="tb">
      </tbody>
    </table>
    <script type="module" src="/comments.js"></script>
  </body>
</html>