<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" href="/index.css">
</head>
  <body>
    <form action="/auth/register" method="post" autocomplete="off">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="FelipeTetra" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="felipe@domingues.dev" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="1234" required>
      </div>
      <div>
        <label for="passwordConfirm">Confirm your password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="1234" required>
      </div>
      <button type="submit">SEND</button>
    </form>
    <p>{{message}}</p>
    <script type="module">
      import global, { config } from "/config.js";
      global();
    </script>
  </body>
</html>